USE [master]
GO
/****** Object:  Database [THITRUONGCHUNGKHOAN]    Script Date: 09/05/2022 3:31:59 CH ******/
CREATE DATABASE [THITRUONGCHUNGKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THITRUONGCHUNGKHOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THITRUONGCHUNGKHOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THITRUONGCHUNGKHOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THITRUONGCHUNGKHOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THITRUONGCHUNGKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THITRUONGCHUNGKHOAN]
GO
/****** Object:  Table [dbo].[BANGGIATRUCTUYEN]    Script Date: 09/05/2022 3:32:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIATRUCTUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[GIAMUA3] [float] NULL,
	[KLMUA3] [int] NULL,
	[GIAMUA2] [float] NULL,
	[KLMUA2] [int] NULL,
	[GIAMUA1] [float] NULL,
	[KLMUA1] [int] NULL,
	[GIABAN1] [float] NULL,
	[KLBAN1] [int] NULL,
	[GIABAN2] [float] NULL,
	[KLBAN2] [int] NULL,
	[GIABAN3] [float] NULL,
	[KLBAN3] [int] NULL,
	[GIAKHOP] [float] NULL,
	[KLKHOP] [int] NULL,
	[TONGKL] [int] NULL,
 CONSTRAINT [PK_BANGGIATRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 09/05/2022 3:32:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 09/05/2022 3:32:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGGIATRUCTUYEN] ON 

INSERT [dbo].[BANGGIATRUCTUYEN] ([ID], [MACP], [GIAMUA3], [KLMUA3], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3], [GIAKHOP], [KLKHOP], [TONGKL]) VALUES (4, N'VNM    ', NULL, NULL, 70000, 50, 100000, 50, NULL, NULL, NULL, NULL, NULL, NULL, 60000, 150, 150)
INSERT [dbo].[BANGGIATRUCTUYEN] ([ID], [MACP], [GIAMUA3], [KLMUA3], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3], [GIAKHOP], [KLKHOP], [TONGKL]) VALUES (7, N'VHM    ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 130000, 50, 110)
SET IDENTITY_INSERT [dbo].[BANGGIATRUCTUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (3, N'VNM    ', CAST(N'2022-04-23T00:00:00.000' AS DateTime), N'M', N'LO        ', 100, 70000, N'1')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (4, N'VNM    ', CAST(N'2022-04-23T00:00:00.000' AS DateTime), N'M', N'LO        ', 100, 50000, N'1')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (5, N'VNM    ', CAST(N'2022-04-23T00:00:00.000' AS DateTime), N'M', N'LO        ', 50, 60000, N'1')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (6, CAST(N'2022-04-26T00:00:00.000' AS DateTime), 150, 60000, 12)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (7, CAST(N'2022-04-26T00:00:00.000' AS DateTime), 60, 130000, 16)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (11, CAST(N'2022-04-26T00:00:00.000' AS DateTime), 50, 130000, 19)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_TONGKL]  DEFAULT ((0)) FOR [TONGKL]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAP_GIA_KL_MUA_BAN_BGTT]    Script Date: 09/05/2022 3:32:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAP_GIA_KL_MUA_BAN_BGTT] 
	@MACP nchar(7)
AS
	IF NOT EXISTS (SELECT * FROM BANGGIATRUCTUYEN WHERE MACP = @MACP)
	BEGIN
		INSERT INTO BANGGIATRUCTUYEN(MACP) VALUES (@MACP)
	END
	
	DECLARE @GiaMua1 FLOAT, @KLMua1 INT,
			@GiaMua2 FLOAT, @KLMua2 INT,
			@GiaMua3 FLOAT, @KLMua3 INT,
			@GiaBan1 FLOAT, @KLBan1 INT,
			@GiaBan2 FLOAT, @KLBan2 INT,
			@GiaBan3 FLOAT, @KLBan3 INT	

	SET @GiaMua1 = (SELECT MAX(GIADAT) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'M' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE))
	SET @KLMua1 = (SELECT SUM(SOLUONG) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'M' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaMua1)
	SET @GiaMua2 = (SELECT MAX(GIADAT) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'M' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) 
			AND GIADAT < @GiaMua1)
	SET @KLMua2 = (SELECT SUM(SOLUONG) 
		FROM LENHDAT WHERE MACP = @MACP AND LOAIGD = 'M' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) 
			AND GIADAT = @GiaMua2)
	SET @GiaMua3 = (SELECT MAX(GIADAT) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'M' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) 
			AND GIADAT < @GiaMua2)
	SET @KLMua3 = (SELECT SUM(SOLUONG) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'M' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) 
			AND GIADAT = @GiaMua3)

	SET @GiaBan1 = (SELECT MIN(GIADAT) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'B' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE))
	SET @KLBan1 = (SELECT SUM(SOLUONG) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'B' AND SOLUONG > 0 
		AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan1)
	SET @GiaBan2 = (SELECT MIN(GIADAT) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'B' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) 
			AND GIADAT > @GiaBan1)
	SET @KLBan2 = (SELECT SUM(SOLUONG) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'B' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan2)
	SET @GiaBan3 = (SELECT MIN(GIADAT) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'B' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) 
			AND GIADAT > @GiaBan2)
	SET @KLBan3 = (SELECT SUM(SOLUONG) FROM LENHDAT 
		WHERE MACP = @MACP AND LOAIGD = 'B' AND SOLUONG > 0 
			AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan3)

	UPDATE BANGGIATRUCTUYEN SET GiaMua1 = @GiaMua1, KLMUA1 = @KLMua1,
								GiaMua2 = @GiaMua2, KLMUA2 = @KLMua2,
								GiaMua3 = @GiaMua3, KLMUA3 = @KLMua3,
									
								GiaBan1 = @GiaBan1, KLBAN1 = @KLBan1,
								GiaBan2 = @GiaBan2, KLBAN2 = @KLBan2,
								GiaBan3 = @GiaBan3, KLBAN3 = @KLBan3
		WHERE MACP = @MACP 
	--select @GiaMua1, @GiaMua2, @GiaMua3
	return 0
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAP_TAT_CA_GIA_KL_MUA_BAN_BGTT]    Script Date: 09/05/2022 3:32:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CAP_NHAP_TAT_CA_GIA_KL_MUA_BAN_BGTT]
as
	DECLARE @CursorVariable CURSOR, @MACP NCHAR(7)
	SET @CursorVariable = CURSOR FOR SELECT MACP FROM BANGGIATRUCTUYEN
	OPEN @CursorVariable

	FETCH NEXT FROM @CursorVariable INTO @MACP
	WHILE(@@FETCH_STATUS <>-1)
	BEGIN
		EXEC SP_CAP_NHAP_GIA_KL_MUA_BAN_BGTT @MACP
		FETCH NEXT FROM @CursorVariable INTO @MACP
	END
	CLOSE @CursorVariable 
	DEALLOCATE @CursorVariable

	return 0
GO
USE [master]
GO
